@using Recodme.RD.BoraNow.PresentationLayer.WebAPI.Models.Newsletters

@model NewsletterViewModel

<h2>Newsletter - Details</h2>
<br />
<div>
    <dl class="row">
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
