/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.w-1{
    width:1px;
    white-space:nowrap;
}

.bg-nyanza {
    background-color:white;
}

.link-delete
{
    color: #dc3545;
}

.link-delete:hover 
{
    color: #91232d;
}

.link-details 
{
    color: #007bff;
}

.link-edit 
{
    color: #6610f2;
}

.link-details:hover 
{
    color: #004996;
}


.link-edit:hover 
{
    color: #6f42c1;
}

.bg-phthalo-green {
    background: #3D5A80;
}

i {
    font-size: 0.8em;
}

.bg-greenish-green
{
    background-color: white;
}

/*.card .card-body {
    justify-content: center;
}*/
.card-header{

    background-color: #3D5A80;
    color: #FFFFFF;
}

#headSquare{
    background-color: #3D5A80;
    color:white;
    font-family: Georgia;
}

#headSquare h1 {
    font-size: 48px;
}

#headSquare p {
    font-size: 14px;
    font-family:Roboto;
}

p{
    text-align:justify;
}

#aboutIcon{
    font-size: 10rem;
    color: #EE6C4D;
    width:100%;

}

.bg-info-1 {
    background: #293241;
}

.square-button-responsive {
    width: 100%;
    overflow: hidden;
}

.square-button-responsive > a {
    position: absolute;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
}

.square-button-responsive > a > p {
    font-size: 1.2em;
}

.square-button-responsive > a > svg {
    font-size: 2em;
}

.square-button-responsive:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.carousel-inner{
    height: 600px;
}

#amen {
    width: 400px;
    height: 300px;
}

#amen2 {
    width: 120px;
    height: 80px;
}