@using Recodme.RD.BoraNow.PresentationLayer.WebAPI.Models.Quizzes


@model QuizAnswerViewModel

@{
    ViewBag.Title = "Create";
}

<div class="card ml-5 mr-5">
    <div class="card-header">
        <div class="float-right">
            <a asp-action="Index" asp-controller="Home"><i class="fas fa-home mr-2"></i></a>
            /
            <a asp-action="Index" asp-controller="QuizAnswer">
                <i class="fas fa-utensils mr-2"></i>QuizAnswers
            </a>
            /
            <i class="fas fa-plus mr-2"></i>
        </div>
        <h4 class="m-0 p-0">New QuizAnswer</h4>
    </div>
</div>

<h2>QuizAnswer - New</h2>
<br />
<div class="row">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="=" text-danger></div>
        <div class="form-group">
            <label asp-for="Answer" class="control-label"></label>
            <input asp-for="Answer" class="form-control" />
            <span asp-validation-for="Answer" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="QuizQuestionId" class="control-label"></label>
            <select asp-for="QuizQuestionId" class="form-control" asp-items="@ViewBag.QuizQuestions"></select>
            <span asp-validation-for="QuizQuestionId" class="text-danger"></span>
        </div>

        @*<div class="form-group">
            <label asp-for="QuizQuestionId" class="control-label"></label>
            <select asp-for="QuizQuestionId" class="form-control" asp-items="@ViewBag.Quizzes"></select>
            <span asp-validation-for="QuizQuestionId" class="text-danger"></span>
        </div>*@

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>




@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}