@using Recodme.RD.BoraNow.PresentationLayer.WebAPI.Models.Quizzes;

@model ResultInterestPointViewModel

<h2>Result - Details</h2>
<br />
<div>
    <dl class="row">
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.InterestPointId)
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.ResultId)
        </dd>
    </dl>
</div>