@using Recodme.RD.BoraNow.PresentationLayer.WebAPI.Models.Users;

@model ProfileViewModel

<div class="card">
    <div class="card-header">
        <h2 class="float-left">
            @ViewData["Title"]
        </h2>
    </div>
    <div class="card-body">
        <div class="row">
            <form asp-action="Edit" class="pl-4">
                <h3>
                    Update the Profile Data
                </h3>
                <div asp-validation-summary="ModelOnly" class="=" text-danger></div>
                <div class="form-group">
                    <label asp-for="Description">Description</label>
                    <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label asp-for="PhotoPath" class="control-label"></label>
                    <input asp-for="PhotoPath" type="file" class="form-control-file" />
                    <span asp-validation-for="PhotoPath" class="text-danger"></span>
                </div>

                @Html.Hidden("Id", Model.Id)
                <br />
                <div class="row">
                    <div class="form-group col-md-3">
                        <input type="submit" value="Update" class="btn btn-primary" />
                    </div>
                    <div class="form-group col-md-3">
                        <input type="button" value="Cancel" class="btn btn-danger" onclick="location.href='@Url.Action("Index","Profiles")';" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}