@using Recodme.RD.BoraNow.PresentationLayer.WebAPI.Models.Users

@model CountryViewModel


<div class="card">
    <div class="card-header">
        <h2 class="float-left">
            @ViewData["Title"] 
        </h2>     
    </div>
    <div class="card-body table-responsive">
        <div class="row">
            <form asp-action="Edit" class="pl-4">
                <h3>Edit Country Data</h3>

                <div asp-validation-summary="ModelOnly" class="=" text-danger></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    @{
                        List<SelectListItem> listItems = new List<SelectListItem>();
                        listItems.Add(new SelectListItem
                        {
                            Text = "Portugal",
                            Value = "Portugal",
                        });
                        listItems.Add(new SelectListItem
                        {
                            Text = "Angola",
                            Value = "Angola",
                        });
                        listItems.Add(new SelectListItem
                        {
                            Text = "Spain",
                            Value = "Spain",
                        });
                        listItems.Add(new SelectListItem
                        {
                            Text = "France",
                            Value = "France",
                        });
                        listItems.Add(new SelectListItem
                        {
                            Text = "Italy",
                            Value = "Italy",
                        });
                        listItems.Add(new SelectListItem
                        {
                            Text = "Brasil",
                            Value = "Brasil",
                        });
                        listItems.Add(new SelectListItem
                        {
                            Text = "Iceland",
                            Value = "Iceland",
                        });
                        listItems.Add(new SelectListItem
                        {
                            Text = "Kiribati",
                            Value = "Kiribati",
                        });
                    }

                    @Html.DropDownListFor(model => model.Name, listItems, "-- Select Country --")
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                @Html.Hidden("Id", Model.Id)
                <div class="row">
                    <div class="form-group col-md-3">
                        <input type="submit" value="Update" class="btn btn-primary" />

                    </div>
                    <div class="col-md-2"></div>
                    <div class="form-group col-md-3">
                        <input type="button" value="Cancel" class="btn btn-danger" onclick="location.href='@Url.Action("Index","Countries")';" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script> 
    $(document).ready(function () {
        $('#listTable').DataTable({
            "order": [],
            "columnDefs": [{
                "targets": 'no-sort',
                "orderable": false,
            }]
        });
    });
</script>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}