@using Recodme.RD.BoraNow.PresentationLayer.WebAPI.Models.Newsletters;

@model InterestPointNewsletterViewModel
@{
    ViewBag.Title = "Update";
}

<h2>Interest Point Newsletter</h2>
<br />
<div class="row">
    <form asp-action="Edit" class="pl-4">
        <div asp-validation-summary="ModelOnly" class="=" text-danger></div>
        <div class="form-group">
            <label asp-for="InterestPointId" class="control-label"></label>
            <input asp-for="InterestPointId" class="form-control" />
            <span asp-validation-for="InterestPointId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NewsLetterId" class="control-label"></label>
            <input asp-for="NewsLetterId" class="form-control" />
            <span asp-validation-for="NewsLetterId" class="text-danger"></span>
        </div>

        @Html.Hidden("Id", Model.Id)
        <div class="form-group">
            <input type="submit" value="Update" class="btn btn-primary" />
        </div>
    </form>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
