@{
    ViewData["Title"] = "About Us";
}

    <div class="text-center">
        <h1 class="display-4">Welcome, Bienvenido, Bem Vindo</h1>
        <p></a>This is BoraNow</p>
        <p></a>Our mission is</p>
        <p></a>Our story</p>
        <p></a>Founders: </p>

    </div>
