@{
    ViewData["Title"] = "About Us";
}

    <html lang="en">
    
    <body>
        

        <main role="main">

            <!-- Main jumbotron for a primary marketing message or call to action -->
            <div id="headSquare" class="jumbotron">
                <div class="container">
                    <h1 class="display-3">We are BoraNow !</h1>
                    <p>We offer you the best way to find amazing places in all of Lisbon!</p>
                </div>
            </div>

            <div class="container">
                <!-- Example row of columns -->
                <div class="row">
                    <div class="col-md-4">
                        <h2>Our story</h2>
                        <p>We started as homeless, Bruna, Marco, Miguel, then we met at a supermarket and we said to each other, "we have no job, no money, no home, lets explore the city!", so we started thinking where we wanna go first, but we had no idea, and then the idea came, "lets build an app that tells us cool places to visit!", and BoraNow was born. </p>
                    </div>
                    <div class="col-md-4">
                        <h2>The team</h2>
                        <p>Bruna, AKA Brunuska, she is the supreme leader, before she had a weed business.<br>
                        Marco, AKA Marco, he is the thinker, allways up for something, before he made memes.<br>
                        Miguel, AKA São Miguel, he is the wiser/anciente/DaLhai Lama/all powerfull savior, before he had a meteorology garden.</p>
                    </div>
                    <div id="aboutbox" class="col-md-4">
                        <p></p>
                        <i id="aboutIcon" class="fas fa-map-signs"></i>
                    </div>
                </div>

                <hr>

            </div> <!-- /container -->

        </main>
        
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
        <script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>

    </body>
    </html>
