<div class="row">
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4 mb-4">
        <div class="card square-button-responsive text-white bg-phthalo-green">
            <a asp-action="Index" asp-controller="Courses">
                <i class="fas fa-hat-chef"></i>
                <p>Courses</p>
            </a>
        </div>
    </div>

    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4 mb-4">
        <div class="card square-button-responsive text-white bg-phthalo-green">
            <a asp-action="Index" asp-controller="DietaryRestrictions">
                <i class="fas fa-seedling mb-2"></i>
                <p>Dietary Restrictions</p>
            </a>
        </div>
    </div>

    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4 mb-4">
        <div class="card square-button-responsive text-white bg-phthalo-green">
            <a asp-action="Index" asp-controller="Dishes">
                <i class="fas fa-pizza mb-2"></i>
                <p>Dishes</p>
            </a>
        </div>
    </div>

    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4 mb-4">
        <div class="card square-button-responsive text-white bg-phthalo-green">
            <a asp-action="Index" asp-controller="Meals">
                <i class="fas fa-egg-fried mb-2"></i>
                <p>Meals</p>
            </a>
        </div>
    </div>

    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4 mb-4">
        <div class="card square-button-responsive text-white bg-phthalo-green">
            <a asp-action="Index" asp-controller="Menus">
                <i class="fas fa-list mb-2"></i>
                <p>Menus</p>
            </a>
        </div>
    </div>

    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4 mb-4">
        <div class="card square-button-responsive text-white bg-phthalo-green">
            <a asp-action="Index" asp-controller="Servings">
                <i class="fas fa-utensils mb-2"></i>
                <p>Servings</p>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4 mb-4">
        <div class="card square-button-responsive text-white bg-phthalo-green">
            <a asp-action="Index" asp-controller="Bookings">
                <i class="fas fa-book mb-2"></i>
                <p>Bookings</p>
            </a>
        </div>
    </div>

    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4 mb-4">
        <div class="card square-button-responsive text-white bg-phthalo-green">
            <a asp-action="Index" asp-controller="Restaurants">
                <i class="fas fa-house mb-2"></i>
                <p>Restaurants</p>
            </a>
        </div>
    </div>

    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4 mb-4">
        <div class="card square-button-responsive text-white bg-phthalo-green">
            <a asp-action="Index" asp-controller="StaffTitles">
                <i class="fas fa-archive mb-2"></i>
                <p>Staff Titles</p>
            </a>
        </div>
    </div>

    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4 mb-4">
        <div class="card square-button-responsive text-white bg-phthalo-green">
            <a asp-action="Index" asp-controller="Titles">
                <i class="fas fa-ticket mb-2"></i>
                <p>Titles</p>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4 mb-4">
        <div class="card square-button-responsive text-white bg-phthalo-green">
            <a asp-action="Index" asp-controller="People">
                <i class="fas fa-user mb-2"></i>
                <p>Profiles</p>
            </a>
        </div>
    </div>

    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4 mb-4">
        <div class="card square-button-responsive text-white bg-phthalo-green">
            <a asp-action="Index" asp-controller="ClientRecords">
                <i class="fas fa-money-bill-wave mb-2"></i>
                <p>Client Records</p>
            </a>
        </div>
    </div>

    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4 mb-4">
        <div class="card square-button-responsive text-white bg-phthalo-green">
            <a asp-action="Index" asp-controller="StaffRecords">
                <i class="fas fa-person-carry mb-2"></i>
                <p>Staff Records</p>
            </a>
        </div>
    </div>
</div>