@{
    ViewData["Title"] = "Home Page";
}




<!--Section: Content-->
<section>

<!-- Grid row -->
<div class="row">

    <!-- Grid column -->
    <div class="col-lg-7 mb-4 align-self-center text-center text-lg-center">

        <h1>WELCOME TO <font color="#ff8c00">BORA</font>NOW</h1>
        <p class="text-center mb-4">The Best Promenade Guid of Lisbon</p>
        <button type="button" class="btn btn-outline-warning">Start Quiz</button>


    </div>
    <!-- Grid column -->
    <!-- Grid column -->
    <div class="col-lg-5 mb-4">

        <!-- Featured image -->
        <div class="view overlay">
            <img class="img-fluid mx-auto" src="~/img/ilustracao.jpg" alt="Sample image">
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

    </div>
    <!-- Grid column -->

</div>
<!-- Grid row -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/img/betem.jpg" alt="Primeiro Slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/img/a-belexa-de-lisboa-a.png" alt="Segundo Slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/img/Miradouro-de-Santa-Luzia.jpg" alt="Terceiro Slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
    </a>
</div>
<div class="container mt-5">

</section>
<!--Section: Content-->
<!--- Section Opcoes-->
<section>
<div class="container my-5">


    <!-- Section: Block Content -->
    <section class="dark-grey-text text-center">

        <h3 class="font-weight-bold mb-4 pb-2">Não sabe aonde passear hoje?</h3>
        <p class="text-center w-responsive mx-auto mb-5">A BoraNow tem as melhores opções para entreter o seu dia</p>

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-lg-4 col-md-12 mb-4">

                <div class="view overlay rounded z-depth-1">
                    <img src="~/img/betem.jpg" class="img-fluid" alt="Sample project image">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <div class="px-3 pt-3 mx-1 mt-1 pb-0">
                    <h4 class="font-weight-bold mt-1 mb-3">Belém</h4>
                    <p class="text-muted">A Torre de Belém, o monumento mais famoso e fotografado de Lisboa. Mosteiro dos Jeronimos belem</p>
                    <button type="button" class="btn btn-outline-info">Mais Info</button>
                </div>

            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-lg-4 col-md-6 mb-4">

                <div class="view overlay rounded z-depth-1">
                    <img src="~/img/museu-nacional-dos-coches.jpg" class="img-fluid" alt="Sample project image">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <div class="px-3 pt-3 mx-1 mt-1 pb-0">
                    <h4 class="font-weight-bold mt-1 mb-3">Museu dos Coches</h4>
                    <p class="text-muted">Um dos museus a ser visitado é o Museu Nacional dos Coches,pela variedade de coches</p>
                    <button type="button" class="btn btn-outline-info">Mais Info</button>
                </div>

            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-lg-4 col-md-6 mb-4">

                <div class="view overlay rounded z-depth-1">
                    <img src="~/img/bounce.jpg" class="img-fluid" alt="Sample project image">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <div class="px-3 pt-3 mx-1 mt-1 pb-0">
                    <h4 class="font-weight-bold mt-1 mb-3">Bounce</h4>
                    <p class="text-muted">A BOUNCE Portugal é um parque de adrenalina com mais de 100 trampolins interligados! Um mundo onde as regras da gravidade são desafiadas.</p>
                    <button type="button" class="btn btn-outline-info">Mais Info</button>
                </div>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </section>
    <!-- Section: Block Content -->


</div>
</section>    
<!--- Section Opcoes-->

<!---Magazine-->
<div class="container my-5">


<!--Section: Content-->
<section class="magazine-section dark-grey-text">

    <!-- Section heading -->
    <h3 class="text-center font-weight-bold mb-4 pb-2">Magazine BoraNow</h3>
    <!-- Section description -->
    <p class="text-center w-responsive mx-auto mb-5">
       Aqui sempre estará informado acerca dos locais que quer visitar
    </p>

    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-lg-6 col-md-12 mb-4">

            <!-- Featured news -->
            <div class="single-news">

                <!-- Image -->
                <div class="view overlay rounded z-depth-1-half mb-4">
                    <img class="img-fluid" src="~/img/parquebar.jpg" alt="Sample image">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Data -->
                <div class="news-data d-flex justify-content-between">
                    <a href="#!" class="deep-orange-text">
                        <h6 class="font-weight-bold"><i class="fas fa-utensils pr-2"></i>Bares</h6>
                    </a>
                    <p class="font-weight-bold dark-grey-text">27/02/2018</p>
                </div>

                <!-- Excerpt -->
                <h3 class="font-weight-bold dark-grey-text mb-3"><a>Happy Hours ParkBar</a></h3>
                <p class="dark-grey-text">
                    Happy hour é o nome dado à comemoração informal, feita geralmente por colegas de estudo e trabalho, após a execução de alguma tarefa ou ao fim de um expediente. Tais comemorações são comuns em várias partes do mundo e em grandes cidades no Brasil e em Portugal
                </p>

            </div>
            <!-- Featured news -->

        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-lg-6 col-md-12 mb-4">

            <!-- Small news -->
            <div class="single-news mb-4">

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-3">

                        <!--Image-->
                        <div class="view overlay rounded z-depth-1 mb-4">
                            <img class="img-fluid" src="~/img/russio.jpg" alt="Sample image">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-9">

                        <!-- Excerpt -->
                        <p class="font-weight-bold dark-grey-text">26/02/2018</p>
                        <div class="d-flex justify-content-between">
                            <div class="col-11 text-truncate pl-0 mb-3">
                                <a href="#!" class="dark-grey-text">
                                   No Rossio encontra os melhores restaurantes
                                </a>
                            </div>
                            <a><i class="fas fa-angle-double-right"></i></a>
                        </div>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </div>
            <!-- Small news -->
            <!-- Small news -->
            <div class="single-news mb-4">

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-3">

                        <!--Image-->
                        <div class="view overlay rounded z-depth-1 mb-4">
                            <img class="img-fluid" src="~/img/praia.jpg"
                                    alt="Sample image">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-9">

                        <!-- Excerpt -->
                        <p class="font-weight-bold dark-grey-text">25/02/2018</p>
                        <div class="d-flex justify-content-between">
                            <div class="col-11 text-truncate pl-0 mb-3">
                                <a href="#!" class="dark-grey-text">Seleção das melhores praias de Lisboa</a>
                            </div>
                            <a><i class="fas fa-angle-double-right"></i></a>
                        </div>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </div>
            <!-- Small news -->
            <!-- Small news -->
            <div class="single-news mb-4">

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-3">

                        <!--Image-->
                        <div class="view overlay rounded z-depth-1 mb-4">
                            <img class="img-fluid" src="~/img/burgeres.jpg" alt="Sample image">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-9">

                        <!-- Excerpt -->
                        <p class="font-weight-bold dark-grey-text">24/02/2018</p>
                        <div class="d-flex justify-content-between">
                            <div class="col-11 text-truncate pl-0 mb-3">
                                <a href="#!" class="dark-grey-text">
                                    Apetece-te um hamburguer agora?
                                </a>
                            </div>
                            <a><i class="fas fa-angle-double-right"></i></a>
                        </div>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </div>
            <!-- Small news -->
            <!-- Small news -->
            <div class="single-news">

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-3">

                        <!--Image-->
                        <div class="view overlay rounded z-depth-1 mb-md-0 mb-4">
                            <img class="img-fluid" src="~/img/´comidavegan.jpg" alt="Sample image">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-9">

                        <!-- Excerpt -->
                        <p class="font-weight-bold dark-grey-text">23/02/2018</p>
                        <div class="d-flex justify-content-between">
                            <div class="col-11 text-truncate pl-0 mb-lg-3">
                                <a href="#!" class="dark-grey-text">Melhores restaurantes de comida Vegan</a>
                            </div>
                            <a><i class="fas fa-angle-double-right"></i></a>
                        </div>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </div>
            <!-- Small news -->

        </div>
        <!--Grid column-->

    </div>
    <!-- Grid row -->

</section>
<!--Section: Content-->
